/* Estilos generales del formulario */
.form-nuevo-usuario {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Estilos de las pestañas */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100vh;
}

.tab button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #007bff;
    color: white;
}

/* Estilo del contenido de las pestañas */
.tabcontent {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
}

.tabcontent h3 {
    margin-top: 0;
}

/* Estilo de cada grupo de campos */
.form-group {
    margin-bottom: 15px;
}

/* Estilo de las etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Estilo de los campos de entrada */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

/* Estilo de los campos de entrada al hacer foco */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo del botón de crear */
.btn-crear {
    text-align: center;
    margin-top: 20px;
}

button[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
